

[aria-current]:not([aria-current="false"]) {
    background-color: #FF007A;
  }
  

#mainslider .css-1m9128y
{
  display: none;
}


#searchinput:focus
{
  outline: none !important;
  border: none !important;
  box-shadow: none;
}
#searchinput
{
  color: rgb(255, 0, 122);
}